[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==19.10b"
jupytext = "*"
pytest = "*"

[packages]
pandas = "*"
xlrd = "*"
matplotlib = "*"
ipykernel = "*"
statsmodels = "*"
scikit-learn = "*"
hyperopt = "*"
xgboost = "*"
fbprophet = "*"

[requires]
python_version = "3.6"
